body {
    color: white;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    background-color: rgb(250,250,250);
}

main{
	color: black;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 900px) and (min-width: 401px)
{
	main{
		width: 100%;
	}
}

@media(max-width: 400px)
{
	main{
		width: 100%;
	}
}


h1{
	margin: 0;x;
}

.header-linha-superior{
	background: linear-gradient(135deg, rgb(150,150,150) 0%, rgb(180,180,180) 74%, rgb(220,220,220) 74%, white 100%);
	width: 100%;
	height: 30px;
	box-sizing: border-box;
}

.header {
    background: linear-gradient(135deg, rgba(223,139,74,1) 0%, rgba(229,129,41,1) 61%, rgba(224,120,40,1) 61% ,rgba(224,120,40,1) 65%);
    width: 100%;
    height: 90px;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}

.header .header-elementos{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
}

@media (max-width: 900px) and (min-width: 401px)
{
	.header .header-elementos{
		width: 100%;
		margin-right: 0;
		margin-left: 0;
		align-items: stretch;
	}
}

@media(max-width: 400px)
{
	.header .header-elementos{
		width: 100%;
		margin-right: 0;
		margin-left: 0;
		align-items: stretch;
	}
}

.header .header-elementos #logo-header a{
	text-decoration: none;
}

@media screen and (max-width: 1023px) , screen and (min-width: 763px)
{
	.header .header-elementos #logo-header{
		width: 70%;
		margin-right: auto;
		margin-left: auto;
	}
}

.header .header-elementos #logo-header #logo-index{
	width: 7%;
	height: 7%;
	box-sizing: border-box;
	margin-right: 2%;
}

@media screen and (max-width: 900px) , screen and (min-width: 401px)
{
	.header .header-elementos #logo-header #logo-index{
		margin-left: 10px;
	}
}

@media(max-width: 400px)
{
	.header .header-elementos #logo-header #logo-index{
		margin-left: -20px;
	}
}

.header .header-elementos #logo-header a h1{
	display: flex;
	align-items: center;
	color: white;
}

footer{
	display: block;
	font-size: 12px;
	font-weight: 300;
	margin-top: 50px;
	padding-top: 20px;
	border-top: 1px solid rgb(220,220,220);
}